@import "tailwindcss";

/* Ensure dark mode is properly applied */
html.dark {
  color-scheme: dark;
}

html {
  color-scheme: light;
}

/* Custom styles for dark mode transitions */
html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  table {
    font-size: 12px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}